<%include ../partials/header %>
<h1>List</h1>
<% if(ideas.length > 0) { %>
<% ideas.forEach((idea) => { %>
    <div class="card card-body mb-2">
        <h3><%= idea.title %></h3>
        <div class="idea-body">
            <p><%= idea.description %></p>
            <img class="mb-2 images-ideas" src="<%= idea.image %>"></i>
        </div>
        <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/<%= idea.id %>">Edit</a>
        <form method="post" action="/ideas/<%= idea.id %>?_method=DELETE">
            <button class="btn btn-block btn-danger">Remove</button>
        </form>
    </div>
<% }); %>
<% } else { %>
    <p>No entries present on the list.</p>
<% } %>
<%include ../partials/footer %>